.reactWrap {
 width: 80%;
 padding: 50px;
 margin: 0 auto;
 display: flex;

 ul {
     list-style: none;
 }

 .left {
     width: 250px;

     ul {
         text-align: left;

         li {
             line-height: 40px;
             padding: 10px;
         }

         li:hover {
             background-color: #eee;
         }
     }
 }

 .right {
     width: 70%;
     background-color: #fff;
     border: 1px solid #f1f1f1;
 }
}