.cssWrap {
  width: 80%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
}
.cssWrap ul {
  list-style: none;
}
.cssWrap .left {
  width: 250px;
}
.cssWrap .left ul {
  text-align: left;
}
.cssWrap .left ul li {
  line-height: 40px;
  padding: 10px;
}
.cssWrap .left ul li:hover {
  background-color: #eee;
}
.cssWrap .right {
  width: 70%;
  background-color: #fff;
  border: 1px solid #f1f1f1;
}
