.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
.wrap .contentBox {
  width: 100%;
  margin-top: 50px;
}
.wrap .contentBox .leftImg {
  float: left;
  margin: -30px 20px 0 20px;
  width: 100px;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrap .contentBox .rightText {
  width: 80%;
  float: left;
  font-weight: 600;
  font-size: 18px;
  overflow: hidden;
  height: 40px;
}
.wrap .contentBox .rightText ul {
  text-align: left;
  list-style: none;
  animation: 50s linear 0s normal none infinite change;
  -webkit-animation: 50s linear 0s normal none infinite change;
  -moz-animation: 50s linear 0s normal none infinite change;
  -o-animation: 50s linear 0s normal none infinite change;
}
.wrap .contentBox .rightText ul li {
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  4% {
    margin-top: 0;
  }
  8% {
    margin-top: 0;
  }
  12% {
    margin-top: -40px;
  }
  16% {
    margin-top: -40px;
  }
  20% {
    margin-top: -80px;
  }
  24% {
    margin-top: -80px;
  }
  28% {
    margin-top: -120px;
  }
  32% {
    margin-top: -120px;
  }
  36% {
    margin-top: -160px;
  }
  40% {
    margin-top: -160px;
  }
  44% {
    margin-top: -200px;
  }
  48% {
    margin-top: -200px;
  }
  52% {
    margin-top: -240px;
  }
  56% {
    margin-top: -240px;
  }
  60% {
    margin-top: -200px;
  }
  64% {
    margin-top: -200px;
  }
  68% {
    margin-top: -160px;
  }
  72% {
    margin-top: -160px;
  }
  76% {
    margin-top: -120px;
  }
  80% {
    margin-top: -120px;
  }
  84% {
    margin-top: -80px;
  }
  88% {
    margin-top: -80px;
  }
  92% {
    margin-top: -40px;
  }
  96% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
.wrap .container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap .container .left {
  width: 68%;
  height: 500px;
  background-color: #eee;
  border-radius: 8px;
}
.wrap .container .left .slidertext {
  height: 100px;
  color: #9966dd;
  font-size: 32px;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.wrap .container .right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.wrap .container .imgSlider {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  z-index: 10;
}
.wrap .container .imgSlider ul {
  width: 1500px;
  position: relative;
}
.wrap .container .imgSlider ul li {
  float: left;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
}
.wrap .container .imgSlider ul li img {
  width: 100%;
  height: -webkit-fill-available;
}
.wrap .container .imgSlider ol {
  position: absolute;
  left: 30%;
  bottom: 15px;
  list-style: none;
}
.wrap .container .imgSlider ol li {
  display: inline-block;
}
.wrap .container .imgSlider ol li a {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
