.leetwrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .head {
        width: 100%;
        box-sizing: border-box;
        color: orange;
        border-radius: 5px;
        background-color: #ddd;
        padding: 10px;
        margin: 20px 0;
        font-size: 14px;
    }

    .content {
        width: 80%;
        display: flex;
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        .name {
            border-bottom: 5px solid yellowgreen;
        }
         .left{
            width: 130px;
            margin-top: 135px;
            ul{
                list-style: none;
                li {
                    line-height: 40px;
                    font-size: 16px;
                    padding-left: 10px;
                }
                li:hover{
                    background-color: #ddd;
                    cursor: pointer;
                }
            }
        }
        .right{
            width: 80%;
            border-radius: 8px;
            ul{
                list-style: none;
                margin-bottom: 50px;
                li{ 
                    padding: 20px 0;
                    display: flex;
                    border-bottom: 1px solid #ccc;
                    .title{
                        color: #222;
                        margin-bottom: 10px;
                        .star {
                            background-color: orange;
                            font-size: 12px;
                            border-radius: 2px;
                            padding: 0 5px;
                            margin-left: 10px;
                        }
                    }
                    .ansBtn {
                        font-size: 14px;
                        cursor: pointer;
                        color: yellowgreen;
                    }
                }
                li:hover{
                    background-color: #fff;
                }
            }
        }
       
    }
}