.leetwrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leetwrap .head {
  width: 100%;
  box-sizing: border-box;
  color: orange;
  border-radius: 5px;
  background-color: #ddd;
  padding: 10px;
  margin: 20px 0;
  font-size: 14px;
}
.leetwrap .content {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.leetwrap .content .name {
  border-bottom: 5px solid yellowgreen;
}
.leetwrap .content .left {
  width: 130px;
  margin-top: 135px;
}
.leetwrap .content .left ul {
  list-style: none;
}
.leetwrap .content .left ul li {
  line-height: 40px;
  font-size: 16px;
  padding-left: 10px;
}
.leetwrap .content .left ul li:hover {
  background-color: #ddd;
  cursor: pointer;
}
.leetwrap .content .right {
  width: 80%;
  border-radius: 8px;
}
.leetwrap .content .right ul {
  list-style: none;
  margin-bottom: 50px;
}
.leetwrap .content .right ul li {
  padding: 20px 0;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.leetwrap .content .right ul li .title {
  color: #222;
  margin-bottom: 10px;
}
.leetwrap .content .right ul li .title .star {
  background-color: orange;
  font-size: 12px;
  border-radius: 2px;
  padding: 0 5px;
  margin-left: 10px;
}
.leetwrap .content .right ul li .ansBtn {
  font-size: 14px;
  cursor: pointer;
  color: yellowgreen;
}
.leetwrap .content .right ul li:hover {
  background-color: #fff;
}
