.leetwrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .head {
        width: 100%;
        box-sizing: border-box;
        color: orange;
        border-radius: 5px;
        background-color: #fff;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .content {
        width: 80%;
        display: flex;
        margin: 0 auto;
        padding-top: 20px;
        .name {
            border-bottom: 5px solid yellowgreen;
        }
         .left{
            width: 200px;
            margin: 100px 20px 0 0;
            ul{
                list-style: none;
                li {
                    line-height: 40px;
                    font-size: 16px;
                    padding-left: 10px;
                }
                li:hover{
                    background-color: #ddd;
                    cursor: pointer;
                }
            }
        }
        .right{
            width: 80%;
            border-radius: 8px;
            ul{
                list-style: none;
                li{ 
                    padding: 20px 0;
                    border-bottom: 1px solid #ccc;
                    .title{
                        color: #222;
                        margin-bottom: 20px;
                        .ansBtn {
                            margin-left: 10px;
                            font-size: 14px;
                            padding: 0 5px;
                            cursor: pointer;
                            color: yellowgreen;
                        }
                    }
                }
                li:hover{
                    background-color: #fff;
                }
            }
        }
       
    }
}