.bookWrap {
  width: 100%;
  text-align: center;
  background: url('https://blog1991.oss-cn-shanghai.aliyuncs.com/book/bg1.jpg');
}
.bookWrap ul {
  list-style: none;
}
.bookWrap ul li {
  display: inline-block;
}
.bookWrap .nav {
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100px;
}
.bookWrap .nav ul {
  padding: 20px 0;
}
.bookWrap .nav ul li {
  width: 100px;
  padding: 10px;
  margin-left: 20px;
  background-color: #ccddff;
  border-radius: 10px;
  cursor: pointer;
}
.bookWrap .nav ul li:hover {
  background-color: #3366cc;
}
.bookWrap .content {
  width: 60%;
  margin: 0 auto;
  min-height: 400px;
  box-sizing: border-box;
  border: 20px solid #ccddff;
  text-align: center;
}
.bookWrap .content ul li {
  display: inline-block;
  width: 200px;
  height: 220px;
  margin: 20px;
  cursor: pointer;
}
.bookWrap .content ul li img {
  border-radius: 10px;
}
.bookWrap .content ul li .owner {
  font-size: 12px;
  background-color: #aaa;
  opacity: 0.8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  line-height: 30px;
  position: relative;
  top: -35px;
}
.bookWrap .content ul li:hover {
  box-shadow: 0 0 10px #99ffcc;
  border-radius: 10px;
}
