.bookWrap {
  width: 100%;
  display: flex;
  margin: 50px 0;
}
.bookWrap .content {
  width: 80%;
  height: 600px;
  background-color: #eee;
  border: 20px solid #ccddff;
  text-align: center;
}
.bookWrap .content .bookList {
  list-style: none;
}
.bookWrap .content .bookList li {
  display: inline-block;
  width: 140px;
  height: 180px;
  margin: 20px;
}
.bookWrap .content .bookList li img {
  border-radius: 10px;
}
.bookWrap .content .bookList li .owner {
  font-size: 12px;
  background-color: #aaa;
  opacity: 0.8;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  line-height: 30px;
  position: relative;
  top: -35px;
}
.bookWrap .content .bookList li:hover {
  box-shadow: 0 0 10px #99ffcc;
}
