.jsWrap {
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    ul{
        list-style: none;
    }
    .left {
        width: 250px;
        ul {
            text-align: left;
            li {
                padding: 10px;
            }
            li:hover {
                background-color: #eee;
            }
        }
    }
    .right {
        width: 70%;
        background-color: #eee;
        margin-left: 20px;
        box-shadow: 10px 10px 10px #ddd;
        border-radius: 5px;
        padding: 20px;
         ul {
            list-style: circle;
            margin-left: 20px;
            h4 {
                color: #222;
                font-size: 16px;
                font-weight: 600;
            }
            p {
                font-size: 14px;
                color: #666;
                padding: 10px;
            }
        }
    }
    .article {
        font-size: 14px;
        p{
            margin: 10px 0;
        }
    }
    blockquote {
        color: #222;
        font-size: 16px;
        padding: 5px 20px;
        margin: 22px 0;
        border-left: 4px solid #cbcbcb;
        background-color: #ddd;
        font-size: 14px;
    }
     pre {
         margin: 15px 0 0 0;
         padding: 10px;
         border: 0;
         border: 1px dotted #785;
         background: #f5f5f5;
         line-height: 1.4;
         font-family: Consolas;
         font-size: 14px;
     }
    
    .article2 {
        .ul1 {
            list-style: circle;
            margin-left: 20px;
            li {
                padding: 10px;
                span{
                    margin-left: 20px;
                }
            }
        }
    }


}