.jsWrap {
    width: 80%;
    padding: 50px;
    margin: 0 auto;
    display: flex;
    ul{
        list-style: none;
    }
    .left {
        width: 250px;
        ul {
            text-align: left;
            li {
                padding: 10px;
            }
            li:hover {
                background-color: #eee;
            }
        }
    }
    .right {
        width: 70%;
        background-color: #eee;
        margin-left: 20px;
        box-shadow: 10px 10px 10px #ddd;
        border-radius: 5px;
        padding: 20px;
    }
    .article {
        font-size: 14px;
        p{
            margin: 10px 0;
        }
    }
    blockquote {
        color: #222;
        font-size: 16px;
        padding: 5px 20px;
        margin: 22px 0;
        border-left: 4px solid #cbcbcb;
        background-color: #ddd;
    }
    .explanation {
        
    }
    .article2 {
        .ul1 {
            list-style: circle;
            margin-left: 20px;
            li {
                padding: 10px;
                span{
                    margin-left: 20px;
                }
            }
        }
    }
}