.jsWrap {
  width: 80%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
}
.jsWrap ul {
  list-style: none;
}
.jsWrap .left {
  width: 250px;
}
.jsWrap .left ul {
  text-align: left;
}
.jsWrap .left ul li {
  padding: 10px;
}
.jsWrap .left ul li:hover {
  background-color: #eee;
}
.jsWrap .right {
  width: 70%;
  background-color: #fff;
  border: 1px solid #f1f1f1;
}
