.navigator{
    width: 100%;
    text-align: center;
    .header {
        height: 200px;
        padding-top: 50px;
        box-sizing: border-box;
        background-image:url('../../static/images/b.jpg');
        background-size: 100% 220px;
        .tag {
            font-size: 16px;
            margin-top: 10px;
        }
    }
    ul {
        background-color: #fff;
        list-style: none;
        height: 60px;
        line-height: 60px;
        background-color: #99cccc;
        li {
            font-size: 20px;
            width: 150px;
            display: inline-block;
            margin-right: 10px;
            a{
            color: #fff;
            }
            img {
                width: 10%;
                margin: 0 5px -2px 0;
            }
        }
        li:hover {
            background: #ddd;
        }
    }
    .isFixed {
        position: fixed;
        width: 100%;
        top: 0;
    }
    
}