.navigator {
  width: 100%;
  text-align: center;
}
.navigator .header {
  background-color: #eee;
}
.navigator .header .myname {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  padding: 20px;
  background: no-repeat center / 100% url('https://blog1991.oss-cn-shanghai.aliyuncs.com/header/f2.png');
}
.navigator .header .tag {
  font-size: 16px;
  margin-top: 10px;
}
.navigator ul {
  background-color: #ddd;
  list-style: none;
  height: 60px;
  line-height: 60px;
}
.navigator ul li {
  font-size: 20px;
  width: 150px;
  display: inline-block;
  margin-right: 10px;
}
.navigator ul li a {
  color: #fff;
}
.navigator ul li img {
  width: 10%;
  margin: 0 5px -2px 0;
}
.navigator ul li:hover {
  background: #fff;
}
.navigator .isFixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 1px 6px 0 #333;
}
