.navigator {
  width: 100%;
  text-align: center;
}
.navigator .header {
  height: 200px;
  padding-top: 50px;
  box-sizing: border-box;
  background-image: url('../../static/images/b.jpg');
  background-size: 100% 220px;
}
.navigator .header .tag {
  font-size: 16px;
  margin-top: 10px;
}
.navigator ul {
  background-color: #fff;
  list-style: none;
  height: 60px;
  line-height: 60px;
  background-color: #99cccc;
}
.navigator ul li {
  font-size: 20px;
  width: 150px;
  display: inline-block;
  margin-right: 10px;
}
.navigator ul li a {
  color: #fff;
}
.navigator ul li img {
  width: 10%;
  margin: 0 5px -2px 0;
}
.navigator ul li:hover {
  background: #ddd;
}
.navigator .isFixed {
  position: fixed;
  width: 100%;
  top: 0;
}
